**/node_modules/
**/out/
**/release/
/test/manual/generated/**
/.idea/
/*.iml
dist/*.js
dist/fonts/*
out-ci/
.DS_Store
vscode
/typings-test
yarn.lock
/test/smoke/vite/dist/**
/test/smoke/parcel/dist/**
/test/smoke/parcel/.cache/**
